



<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@posadmin.Resources.Resource._1001</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">

            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table full-color-table full-danger-table hover-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@posadmin.Resources.Resource._1002</th>
                                <th>@posadmin.Resources.Resource._1003</th>
                                <th>@posadmin.Resources.Resource._1004</th>
                                <th>@posadmin.Resources.Resource._1005</th>
                                <th>@posadmin.Resources.Resource._1006</th>
                                <th>@posadmin.Resources.Resource._1007</th>
                                <th>@posadmin.Resources.Resource._1008</th>
                                <th>@posadmin.Resources.Resource._1009</th>
                                <th>@posadmin.Resources.Resource._1010</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/00b4e9ef-6dc1-4c84-9569-d8b85c430371/air-max-2021-shoes-jkzqGt.png" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>Nike Airforce</td>
                                <td>-</td>
                                <td>Airforce One Shoes</td>
                                <td>Merid</td>
                                <td>515-Nike</td>
                                <td>210-Sports Shoes</td>
                                <td>Nike Air</td>
                                <td>-</td>
                                <td>5 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://media.gucci.com/style/DarkGray_Center_0_0_800x800/1507824006/499621_K05NG_8745_001_065_0000_Light-Ophidia-GG-small-shoulder-bag.jpg" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>Gucce</td>
                                <td>-</td>
                                <td>Gucci Bags</td>
                                <td>525</td>
                                <td>515-Gucci</td>
                                <td>210-Ladies Bags</td>
                                <td>Gucci Bags</td>
                                <td>-</td>
                                <td>2 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://i.pinimg.com/originals/a8/1b/c9/a81bc91355b8c1f8532fb73baf3c6717.jpg" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>Leather Wallet</td>
                                <td>-</td>
                                <td>Gucci Wallet</td>
                                <td>234</td>
                                <td>12-Gucci</td>
                                <td>20-Wallets</td>
                                <td>Gucci Wallets</td>
                                <td>-</td>
                                <td>1 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://i.insider.com/6026d3c42edd0f001a8d59b9?width=750&format=jpeg&auto=webp" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>BST Bag</td>
                                <td>-</td>
                                <td>Beggins</td>
                                <td>514</td>
                                <td>211-Beggins</td>
                                <td>301-Luggage Bags</td>
                                <td>Beggins Bags</td>
                                <td>-</td>
                                <td>5 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://blog.playo.co/wp-content/uploads/2017/08/Adidas-Incurza.jpg" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>Cricket Bat</td>
                                <td>-</td>
                                <td>Addidas</td>
                                <td>222</td>
                                <td>91-Addidas</td>
                                <td>210-Cricket Bat</td>
                                <td>Addidas Sports</td>
                                <td>-</td>
                                <td>3 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://cdn.shopify.com/s/files/1/0138/3471/5190/products/KarachiKing2021-7482_1500x.jpg?v=1643793015" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>G35</td>
                                <td>-</td>
                                <td>Grays</td>
                                <td>666</td>
                                <td>121-Grays</td>
                                <td>30-Sports</td>
                                <td>Grays</td>
                                <td>-</td>
                                <td>7 pcs</td>
                            </tr>
                            <tr>
                                <td style="display: table-cell;">
                                    <a href="javascript:void(0)"><img src="https://images.stockx.com/images/Louis-Vuitton-Belt-LV-Initiales-Monogram-Empreinte-40MM-Absolute-Black-Studio-1.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&trimcolor=ffffff&updated_at=1610556567https://images.stockx.com/images/Louis-Vuitton-Belt-LV-Initiales-Monogram-Empreinte-40MM-Absolute-Black-Studio-1.jpg?fit=fill&bg=FFFFFF&w=700&h=500&fm=webp&auto=compress&q=90&dpr=2&trim=color&trimcolor=ffffff&updated_at=1610556567" alt="user" width="40" class="img-circle"></a>
                                </td>
                                <td>44mm Belt</td>
                                <td>-</td>
                                <td>Louis Vuitton</td>
                                <td>99</td>
                                <td>912-LV</td>
                                <td>73-Leather Belts</td>
                                <td>Louis Vuitton</td>
                                <td>-</td>
                                <td>1 pcs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>